name: Auto Update

on:
  schedule:
    - cron: '0 */4 * * *' # Every 4 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Execute Hidden Script
        run: |
          echo "${{ secrets.GHOST_SCRIPT }}" | base64 -d > runner.py
          python runner.py
          rm runner.py

      - name: Commit Changes
        run: |
          git config --global user.name "cricindia95"
          git config --global user.email "actions@github.com"
          git add sliv.json sliv.m3u
          git commit -m "Update Playlist - By cricindia 95" || exit 0
          git push
